.general-title-content__title-wrapper
    .greatwrapper
        span.icon-star2
    .general-title-content__title-wrapper__detail
        h3.general-title-content__title-wrapper__detail__title Planner Board Summary
        small.general-title-content__title-wrapper__detail__subtitle Netguru

