*,*::before,::after{
  box-sizing: border-box;
}

/*body, html {
  height: 100%;
}*/

body{
  font-size: $main-fontsize;
  font-family: $main-fontfamily;
  line-height: 1.5;
  color: color(gris-oscuro);
  background-color: #fafafa;
  font-min-size: em(13px);
  font-size: em(15px);
  font-weight: $normal-weight;
  color: #4d4d4d;
  position: relative;
}
/*

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;height:100%}
*/

img{
  width: 100%;
  display: block;
}

[class^='icon-']{
  color: color(gris-claro);
  font-size: em(16px);
  padding-top: 5px;
}

a[class^='icon-']{
  text-decoration: none;
}

h1,h2,h3,h4,h5{
  font-weight: inherit;
  /*font-size: inherit;*/
}

.container-main{
  padding: $gutter*1.7;

  @media only screen and (min-width: 640px){
    padding: $gutter*2 $gutter*4;
  }
}

input{
  line-height: 2;
}

p{
  line-height: 1.6;
}

#overlay-content{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: z-number(overlay);
  top: 0;
  left: 0;
  display: none;
  transition: all .55s ease-in;
  background-color: rgba(color(gris-oscuro), .75);
}