::-webkit-input-placeholder {
  color: #e9e9e9;
}

:-moz-placeholder {
  color: #e9e9e9;
}

::-moz-placeholder {
  color: #e9e9e9;
}

:-ms-input-placeholder {
  color: #e9e9e9;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-5 {
  padding: 5px !important;
}

.is-enabled {
  cursor: pointer;
  background-color: color(blanco);
  border: 0;
  color: #444;
}

.show_div{
  display: block !important;
}